<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>ResearchMap | Western University</title>
  <link rel="stylesheet" href="css/stylesheet.css">
  <link rel="stylesheet" href="css/iThing.css"/>
  <link rel="stylesheet" href="css/square/blue.css" >

  <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

  <script src="js/lib/modernizr-2.6.2-dev.js"></script>
	<script src="js/lib/d3/d3.v3.min.js"></script>
  <script src="js/lib/d3/sankey.js"></script>  
	<script src="js/lib/queue.min.js"></script>
	<script src="js/lib/jquery-2.0.2.min.js"></script>
	<script src="js/lib/jquery.dropdownPlain.js"></script>
	<script src="js/lib/jquery.textchildren.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/more-show.js"></script>
	<script src="js/lib/jquery.colorbox-min.js"></script>
	<script src="js/lib/jquery.autocomplete.js"></script>
  <script src="js/lib/store2-2.1.2-min.js"></script>
  <script src="js/lib/async.js"></script>
  <script src="js/lib/jquery.icheck.min.js"></script>
	<script src="js/lib/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="js/lib/chosen.jquery.min.js"></script>


	
</head>
<body>

  <div class="header">
    <div class="row">
    <img src="img/rmlogo.png"></img>
    <a href="index.html"><h1>ResearchMap</h1></a>
    <div class="nav right">
      <ul>
        <a href="#login-box" class="login-window">
        <li>logout</li></a>
        <a href="demo.html">
        <li>help</li></a> 
      <a href="help.html">
        <li>contact</li></a>
      </ul> 
    </div>
    </div>  
  </div>

  <div class="navbar group">
  <ul class="dropdown row group">
    <li>{{#if navoverview}}<a href="overview" class='active'>Overview</a>{{else}}<a href="overview">Overview</a>{{/if}}
    </li>
    <li>{{#if navpub}}<a href="publications_map"  class='active'>Publications</a>{{else}} <a href="publications_map">Publications</a>{{/if}}
    </li>
    <li>{{#if navfaculty}}<a href="faculty" class='active'>Faculty</a>{{else}}<a href="faculty">Faculty</a>{{/if}}
    </li>
    <li>{{#if navgrants}}<a href="grants" class='active'>Grants</a>{{else}}<a href="grants">Grants</a>{{/if}}
    </li>
    <li>{{#if navindustry}}<a href="industry" class='active'>Industry</a>{{else}}<a href="industry">Industry</a>{{/if}}
    </li>
    <img src="img/settings.png"></img>
  </ul>
</div>

  <div class="row group">
    <div id="overview">
      <h2 class="textcenter">{{maintitle}}</h2>
    </div>
  </div>



    {{{body}}}


  <div class="secondary group">
    <div class="row">
      <a class="logo" href="www.sci.uwo.ca"><img class="pic" src="img/science_logo.png" alt="Western Science"></a>
    </div>
  </div>

  <div class="footer group">
    <div class="row group">
      <p>contact information
        <br>
        <br>
        <br>
        science&#64uwo.ca
        <br><br>
        (519) 661-2111 x 86152
        <br>
        <br>
        Faculty of Science
        <br> western science centre
        <br>
        room 191
        <br><br>
        western university
        <br>
        1151 richmond street
        <br>
        london, on, canada
        <br>
        n6a 5b7
         <br>
        <br>
        <br>
        &#169 2013 paul parsons
      </p>
    </div>
  </div>    

 
</body>
</html>

{{#scripts}}
<script type="text/javascript"> $(".chzn-select").chosen(); $(".chzn-select-deselect").chosen({allow_single_deselect:true}); </script>
{{/scripts}}